
<table id="tablanewindicvalue" class="table table-striped dataTable table-bordered
                                             table-hover table-featured">
  <thead>
  <tr>
    <th scope="col"></th>

    <% @indicators.each do |row| %>
      <th scope="col"><%= row.number %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% cont=0
     @cities.each do |row| %>
    <tr>
      <th role="row" tabindex="<%= cont %>"><%= row.name %></th>
      <% score = "" %>
      <% @indicators.each do |rowindicator| %>

        <% @indicatorsvalue.each do |indicatorval| %>
          <% if indicatorval.indicator_id == rowindicator.id && indicatorval.city_id == row.id %>
            <% score = indicatorval.score %>
          <% end %>
        <% end %>

        <td> <%= text_field("indicador_value[#{row.id}]", rowindicator.id,
                            class: "form-control", value: score) %></td>

      <% cont=cont+1
         end %>
    </tr>
  <% end %>
  </tbody>
</table>

<script >


</script>