

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="form-group d-flex justify-content-between">
  <%= link_to "Olvidó su contraseña?", new_password_path(resource_name) %><br />
  </div>
<% end -%>

