<nav class="navbar navbar-default">
  <div class="container-fluid">
    <%= link_to "Nuevo", new_goal_group_path, remote: true, class: "btn btn-info" %>
    <p>Grupo ODS #index</p>
  </div>
</nav>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Acci&oacute;n</th>
      </tr>
      </thead>
      <tbody>
      <% @goalgroups.each do |row| %>
        <tr>
          <th scope="row"><%= row.id %></th>
          <td><%= row.name %></td>
          <td><%= link_to "Editar", edit_goal_group_path(row), remote: true, class:"btn btn-primary" %>
            <button type="button" class="btn btn-danger">Eliminar</button></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</nav>
