

<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title">ODS</h4></div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    <ol class="breadcrumb">
      <li><a href="#">ODS</a></li>
      <li class="active">Parametrizar Grupos ODS</li>
    </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">


  <div class="col-md-12">
    <div class="white-box">


      <div class="row">
        <div class="btn-group m-b-20">

          <div class="col-sm-2">
            <div class="float-left">
              <%= button_to "Nuevo", { action: "new" },data:{toggle:"modal"}, remote: true, class: "btn btn-info",
                            :method => :get %>
            </div>
          </div>


        </div>
      </div>
      <br>

      <div class="table-responsive" >
        <table class='table table-striped dataTable table-bordered' id="tblgrupoods">
          <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Acci&oacute;n</th>
          </tr>
          </thead>
          <tbody>

          <% @goalgroups.each do |row| %>
            <tr>
              <th scope="row"><%= row.name %></th>
              <td><%= button_to "Editar", {action: "edit", id: row.id},data:{toggle:"modal"}, remote: true, class:"btn btn-primary",
                                :method => :get %>
                <%= button_to "Eliminar", {action: "deletegoalgroup", id: row.id},data:{toggle:"modal"}, remote: true,
                              class:"btn btn-danger",
                              :method => :get %>
              </td>
            </tr>
          <% end %>

          </tbody>
        </table>
      </div>


    </div>


  </div>
</div>

<div class="modal fade" id="modalgrupoods" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" id="modalodsgroupdialog">

  </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $('#tblgrupoods').DataTable();
        $('#modalgrupoods').on('hidden.bs.modal', function (e) {
            $("#modalodsgroupdialog").html("");
        });
    } );
</script>



