
<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title">Ciudades</h4></div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    <ol class="breadcrumb">
      <li class="">Ciudades</li>
      <li class="active">Parametrizar Ciudades</li>
    </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">


  <div class="col-md-12">
    <div class="white-box">


      <div class="row">
        <div class="btn-group m-b-20">

          <div class="col-sm-2">
            <div class="float-left">
              <%= button_to "Nueva Ciudad", { action: "new" },data:{toggle:"modal"}, remote: true, class: "btn btn-info",
                            :method => :get %>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <label>Filtrar por Departamento</label>
          </div>
          <div class="col-md-5">    <%= select("department", "department_id", Department.all.collect {|p| [ p.name, p.id ] },
                                               { include_blank: false,
                                                 prompt: "Seleccione Un Departamento"},
                                               {:class => "form-control chosen", :onchange=>"City.tableCargarTodos()"}) %></div>

        </div>
      </div>
      <br>

      <div class="table-responsive" id="opentblcity">

      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modalciudad" tabindex="-1" role="dialog"
     aria-labelledby="mediumModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" id="modalcitydialog">


  </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {

        City.initCity();
    } );
</script>



