

<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title">Indicadores</h4></div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    <ol class="breadcrumb">
      <li>Indicadores</li>
      <li class="active">Parametrizar Indicadores</li>
    </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">


  <div class="col-md-12">
    <div class="white-box">


      <div class="row">
        <div class="btn-group m-b-20">

          <div class="col-sm-2">
            <div class="float-left">
              <%= button_to "Nuevo Indicador", { action: "new" },data:{toggle:"modal"}, remote: true, class: "btn btn-info",
                            :method => :get %>
            </div>
          </div>


        </div>
      </div>
      <br>

      <div class="row">


        <div class="col-md-2">
          <div class="form-group">
            <label for="">Filtrar por ODS</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">

            <%= select("goal", "id_index", Goal.all.collect {|p| [ p.number, p.id ] },
                       { include_blank: false,
                         prompt: "Seleccione Un ODS"},
                       {:class => "form-control chosen", :onChange => "Indicator.onchangeGoal();"}) %>

          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="">Filtrar por Meta</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">

            <%= select("target", "target_id", Target.all.where(goal_id: :goal_id),
                       { include_blank: false,
                         prompt: "Seleccione Una Meta"},
                       {:class => "form-control chosen",:id=>"target_id_index",
                        :onChange => "Indicator.tableCargarTodos();"}) %>

          </div>
        </div>


      </div>
      <br>

      <div class="table-responsive  " id="opentbl" style="position: relative;">

      </div>



    </div>


  </div>
</div>


<div class="modal fade" id="modalindicador" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" id="modalindicatordialog">

  </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        Indicator.initIndicator();
    } );
</script>



