
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <button type="button" class="btn btn-info" onclick="Measure.modalAddMeasure(0)">Nuevo</button>
    <p>Measures#index</p>
  </div>
</nav>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Acci&oacute;n</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>PORCENTAJE</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>NUMERO</td>
        <td></td>
      </tr>

      </tbody>
    </table>
  </div>
</nav>
