<nav id="sidebar">
  <div class="sidebar-header">

    <%= link_to root_path, class:"nav-link" do  %>
      <h3>ODS Ciudatos</h3>
    <% end %>
  </div>

  <ul class="list-unstyled components">
    <p>Mi perfil</p>
    <li class="">
      <%= link_to "Unidad de Medida", controller: 'measures' %>

    </li>
    <li>
      <a href="#menu">Ilustración</a>


    </li>
    <li>
      <a href="#">Interacción</a>
    </li>
    <li>
      <a href="#">Blog</a>
    </li>
    <li>
      <a href="#">Acerca</a>
    </li>
    <li>
      <a href="#">contacto</a>
    </li>


  </ul>


</nav>